@import '../../src/scss/utils/vars/vars.scss';
@import '../../src/scss/utils/typography/typography.scss';

.dropdowns {
    @include borderTop;

    &.animated {
        .h2__box_text p {
            animation: textOpacity 2s forwards ease;
            animation-delay: 1s;
        }

        .h2__wrapper p {
            animation: textOpacity 2s forwards ease;
        }

        .dropdowns__circle {
            animation: rotateCircle 2s forwards ease;
        }

        .svg-center {
            animation: scaleCircle 2s forwards ease;
            animation-delay: 1.5s;
        }

        .circle__lines::before {
            animation: circleLine 2s forwards ease;
            animation-delay: 3s;
        }
    }
    
    &__wrapper {
        padding: 15px;
        overflow: hidden;

        @media(min-width: $md) {
            padding: 32px;
        }

        @media(min-width: $xl) {
            padding: 60px 110px 30px 110px
        }
    }

    h2 {
        margin-bottom: 0;
    }

    .h2__box {
        margin-bottom: 16px;
        
        @media(min-width: $md) {
            margin-bottom: 42px;
        }

        p {
            opacity: 0;
        }
    }

    .h2__box_text {
        p {
            font-weight: $fw-light;
        }
    }

    &__circle_wrapper {
        display: flex;
        justify-content: center;
    }

    &__circle {
        display: flex;
        flex-direction: column;
        position: relative;
        width: 290px;
        height: 290px;
        transform: rotate(-45deg);

        @media(min-width: $md) {
            width: 371px;
            height: 371px;           
        }

        @media(min-width: $xl) {
            width: 480px;
            height: 480px;
            
            
        }

        img {
            width: 100%;
            height: 100%;
        }

        &::before, &::after {
            content: '';
            display: block;
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(-50%, -50%);
            -webkit-border-radius: 50%;
            -khtml-border-radius: 50%;
              -moz-border-radius: 50%;
                   border-radius: 50%;
            border: 2px solid $black;
            z-index: 1;
            pointer-events: none;
            overflow: hidden;
            -webkit-backface-visibility: hidden;
        }

        &::before {
            width: calc(100% - 2px);
            height: calc(100% - 2px);
            z-index: 10;

            @media(min-width: $md) {
                width: calc(100% - 3px);
                height: calc(100% - 3px);              
            }

            @media(min-width: $xl) {
                width: calc(100% - 3px);
                height: calc(100% - 3px);               
            }

            @media(min-width: $xxl) {
                width: calc(100% - 2px);
                height: calc(100% - 2px);               
            }
        }

        &::after {
            width: 228px;
            height: 228px;

            @media(min-width: $md) {
                width: 292px;
                height: 292px;       
            }

            @media(min-width: $xl) {
                width: 379px;
                height: 379px;       
            }
        }

        .circle__top, .circle__bottom {
            display: flex;

            &_left, &_right {
                width: 50%;
            }
        }

         .svg-center, .big-circle, .small-circle {
            position: absolute;
            pointer-events: none;
         }

         .svg-center {
            width: 119px;
            height: 119px;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%) scale(0);
            z-index: 2;
            transform-origin: center;

            @media(min-width: $md) {
                width: 152px;
                height: 152px;
            }

            @media(min-width: $xl) {
                width: 196px;
                height: 196px;
            }
         }

         .circle__bottom_left, .circle__bottom_right, .circle__top_left, .circle__top_right {
            z-index: 1;
            transition: filter ease $tr;
            cursor: pointer;

            &.darkened {
                filter: brightness(0.7); 
            }

            &.highlighted {
                filter: brightness(1);
            }
         }
    }

    .circle__lines {
        width: auto;
        height: 100%;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, calc(-50% + 1px));
        z-index: 2;

        &::before, &::after {
            content: '';
            display: block;
            width: 2px;
            height: 100%;
            background-color: $black;
            position: absolute;
            left: 50%;
        }

        &::before {
            height: 100%;
            transform: translateX(-50%);
        }

        &::after {
            transform: rotate(90deg);
        }
    }
}

.dropdown__items {
    width: 100%;
    max-width: 373px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 52px auto 0 auto;
    border: $border-2px;

    @media(min-width: $md) {
        margin: 32px auto 0 auto;
        max-width: 604px
    }
}

.dropdown {
    outline: $border-2px;
    cursor: pointer;

    &:first-child {
        background-color: #EE6A5E;

        .dropdown__text strong {
            color: #EE6A5E;
        }
    }

    &:nth-child(2) {
        background-color: #44929F;

        .dropdown__text strong {
            color: #44929F;
        }
    }

    &:nth-child(3) {
        background-color: #7379AD;

        .dropdown__text strong {
            color: #7379AD;
        }
    }

    &:last-child {
        background-color: #73932F;

        .dropdown__text strong {
            color: #73932F;
        }
    }

    &__open {
        overflow: hidden;
		height: 0;
		transition: height ease 0.5s;
    }

    &__inner {
        background-color: $white;
    }

    &__title {
        position: relative;
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px;

        @media(min-width: $md) {
            padding: 16px 10px;
        }

        span {
            display: block;
            width: 14px;
            height: 14px;
            position: relative;

            &::before, &::after {
                content: '';
                display: block;
                width: 3px;
                height: 100%;
                position: absolute;
                left: 50%;
                top: 50%;
                transform: translate(-50%, -50%);
                background-color: $white;
                transition: opacity ease $tr;
            }

            &::after {
                transform: translate(-50%, -50%) rotate(90deg);
            }
        }
    }

    &__text {
        @include standfirst;

        font-weight: $fw-light;
        padding: 10px;

		span {
			text-decoration: line-through;
			color: red;
		}

		b {
			color: red;
		}
    }

    &__start {
        color: $white;
        font-family: $ff;
        font-size: 16px;
        font-style: normal;
        font-weight: $fw-bold;
        line-height: 20px;
        text-transform: uppercase;

        @media(min-width: $md) {
            font-size: 20px;
            line-height: 24px;
        }
    }

    &.opened {
        overflow: hidden;

        .dropdown__title {
            outline: $border-2px;

            span::before {
                opacity: 0;
            }
        }
    }
}