@import '../../src/scss/utils/vars/vars';
@import '../../src/scss/utils/typography/typography.scss';

.exec-logos {
	padding: 30px 0;

	@include borderTop;

	&-wrapper {
		display: flex;
		flex-direction: column;
		padding: 0 40px 30px 40px;

		h2 {
			margin-bottom: 30px;
			max-width: 100%;
			color: $dark-blue;
		}

		p {
			max-width: 95%;
			font-weight: $fw-light;
		}
	}

	&-info {
		margin-bottom: 50px;
	}

	&-images {
		display: flex;
		flex-wrap: wrap;
		flex-direction: column;
		gap: 50px;

		@media(min-width: $md) {
			flex-direction: row;
		}
	}

	&-img {
		width: 100%;

		@media(min-width: $md) {
			width: calc(50% - 25px);
		}
	}
}