.footer {
    background-color: $dark-blue;
    padding-bottom: 32px;

    .container {
        position: relative;
    }

    &__wrapper {
        padding: 16px 10px 0 10px;
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        margin-bottom: 60px;
        overflow: hidden;

        @media(min-width: $md) {
            padding: 60px 40px 0 20px;
            margin-bottom: 81px;
        }

        @media(min-width: $xl) {
            margin-bottom: 81px;
            padding: 120px 30px 0 30px;
        }
    }

    &__logo {
        min-width: 159px;
        height: 100px;
        margin-bottom: 32px;
        position: relative;

        @media(min-width: $md) {
            width: 276px;
            height: 157px;
            margin-bottom: 64px;
        }

        @media(min-width: $xl) {
            margin-bottom: 0;
        }

        .logo__text {
            width: auto;
            color: $white;
            font-size: 14px;
            transform: translate(-15px, 6px);

            @media(min-width: $md) {
                font-size: 23px;
                transform: translate(-22px, 6px);
            }

            @media(min-width: $xl) {
                transform: translate(0, 16px);
            }

            @media(min-width: $xxl) {
                transform: translate(-22px, 36px);
            }
        }

        .logo__gears {
            position: relative;
            min-width: 60px;

            @media(min-width: $md) {
                min-width: 100px;
            }
        }

        .violet__gear, .green__gear {
            animation: rotationForward 5s infinite linear;
        }

        .red__gear, .blue__gear {
            animation: rotationReverse 5s infinite linear;
        }

        .blue__gear, .red__gear, .green__gear, .violet__gear {
            position: absolute;

            img {
                width: 100%;
                height: 100%;
            }
        }

        .violet__gear {
            width: 20px;
            height: 20px;
            top: 0;
            right: 10px;

            @media(min-width: $md) {
                width: 31px;
                height: 31px;
                top: 0;
                right: 15px;             
            }
        }

        .red__gear {
            width: 22px;
            height: 22px;
            top: 15px;
            left: 10px;

            @media(min-width: $md) {
                width: 35px;
                height: 35px;
                top: 23px;
                left: 22px;             
            }
        }

        .green__gear {
            width: 25px;
            height: 25px;
            top: 28px;
            right: 0;

            @media(min-width: $md) {
                width: 44px;
                height: 44px;
                top: 40px;
                right: 0;
                  
            }
        }

        .blue__gear {
            width: 40px;
            height: 40px;
            top: 45px;
            left: 0;

            @media(min-width: $md) {
                width: 66px;
                height: 66px;
                top: 70px;
                left: 0;              
            }
        }
    }

    .logo__inner {
        padding-left: 0;
    }

    &__inner {
        display: flex;
        flex-wrap: wrap;
        gap: 12px;

        @media(min-width: $md) {
            gap: 32px;
        }

        @media(min-width: $xl) {
            max-width: 788px;
            flex-wrap: nowrap;
        }
    }

    a {
        color: $white;
        font-family: $ff;
        font-size: 10px;
        font-style: normal;
        font-weight: $fw-regular;
        line-height: 10px;
        transition: opacity ease $tr;

        &:hover {
            opacity: $op07;
        }

        @media(min-width: $md) {
            font-size: 14px;
            line-height: 16px;
        }
    }

    &__nav {
        width: calc(50% - 6px);
        margin-bottom: 32px;

        @media(min-width: $md) {
            width: 33%;
            min-width: 168px;
            margin-bottom: 0;
        }

        @media(min-width: $xl) {
            width: fit-content;
        }
    }

    &__links {
        order: 2;

        a {
            margin-bottom: 5px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @media(min-width: $md) {
            order: 0;
        }

        &_inner {
            display: flex;
            flex-direction: column;
        }
    }

    .subscribe {
        width: calc(50% - 6px);

        @media(min-width: $md) {
            width: 100%;
            margin-top: 32px;
        }

        @media(min-width: $xl) {
            width: auto;
            margin-top: 0;
        }

		.wpcf7 {
			&-form {
				position: relative;

				.wpcf7-not-valid-tip {
					position: absolute
				}
			}

			form .wpcf7-response-output {
				position: absolute;
				top: calc(100% + 10px);
				left: 0;
				font-size: 14px
			}
		}
    }

    .menu-item {
        margin-bottom: 5px;

        &:last-child {
            margin-bottom: 0;
        }
    }

    &__heading {
        color: $white;
        font-family: $ff;
        font-size: 10px;
        font-style: normal;
        font-weight: $fw-bold;
        line-height: 10px;
        letter-spacing: 1.26px;
        text-transform: uppercase;
        margin-bottom: 16px;

        @media(min-width: $md) {
            font-size: 14px;
            line-height: 20px;
        }
    }

    &__legal {
        display: flex;
        justify-content: center;
        padding: 0 25px;

        &_wrapper {
            width: 100%;
            max-width: 470px;
        }

        &_links {
            width: 100%;
            display: flex;
            justify-content: space-between;
            margin-bottom: 16px;

			a {
				color: $white;
				font-family: $ff;
				font-size: 8px;
				font-style: normal;
				font-weight: $fw-regular;
				line-height: 16px;
				text-transform: uppercase;

				@media(min-width: $md) {
					font-size: 11px;
					line-height: 16px;
				}
			}
        }
    }

    &__year {
        color: $white;
        font-family: $ff;
        font-size: 8px;
        font-style: normal;
        font-weight: $fw-regular;
        line-height: 16px;
        text-transform: uppercase;
        text-align: center;

        @media(min-width: $md) {
            font-size: 11px;
            line-height: 16px;
        }
    }
}

.lines {
    @include container;
    position: absolute;
    height: 100%;
    left: 50%;
    top: 0;
    transform: translateX(-50%);
    z-index: 98;
    pointer-events: none;

    &::before, &::after {
        content: '';
        position: absolute;
        width: 2px;
        height: 100%;
        background-color: $dark-blue;
        bottom: 0;
        z-index: 98;
    }

    &::before {
        left: 0;

        @media (min-width: $sm) {
            left: 20px;
        }

        @media (min-width: $md) {
            left: 30px;
        }

        @media (min-width: $xl) {
            left: 20px;
        }
    }

    &::after {
        right: 0;

        @media (min-width: $sm) {
            right: 20px;
        }

        @media (min-width: $md) {
            right: 30px;
        }

        @media (min-width: $xl) {
            right: 20px;
        }
       
    }

    &.hide {
        &::after {
            background-color: $white;
        }
    }
}

