@import '../../src/scss/utils/vars/vars.scss';
@import '../../src/scss/utils/typography/typography.scss';

.quote {
    @include borderTop;

    &.animated {
        .quote__bg img {
            animation: quoteImg 1s forwards ease; 
        }
        
        blockquote {
            svg {
                animation: quoteScale 0.2s forwards ease;
                animation-delay: 0.5s;  
            }
    
            p {
                animation: quoteText 1s forwards ease;
                animation-delay: 0.5s;
                transform: translateX(100%);
                opacity: 0;
            }
    
            .quote__name, .quote__job {
                animation: quoteText 1.5s forwards ease; 
                animation-delay: 0.5s;  
            }
        }
    }

    &__wrapper {
        width: 100%;
        min-height: 607px;
        position: relative;
        padding: 10px 10px 42px 15px;
        display: flex;
        justify-content: flex-end;
        align-items: flex-end;
        overflow: hidden;

        @media(min-width: $md) {
            min-height: 450px;
            padding: 32px 32px 40px 32px;
        }

        @media(min-width: $xl) {
            min-height: 603px;
            padding: 38px 65px 38px 32px;
        }
    }

    &__bg {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        z-index: -1;

        img {
            width: 0;
            height: 100%;
            object-fit: cover;
        }
    }

    &__mark {
        margin-bottom: 16px;
        width: 25px;
        height: 25px;

        svg {
            width: 100%;
            height: 100%;
            scale: 0;
        }

        @media(min-width: $md) {
            width: 40px;
            height: 40px;
            margin-bottom: 32px;
        }

        @media(min-width: $xl) {
            width: 50px;
            height: 50px;
        }
    }

    blockquote {
        width: 100%;
        max-width: 548px;

        @media(min-width: $md) {
            max-width: 472px;
        }

        @media(min-width: $xl) {
            max-width: 548px;
        }
    }

    &.flex-start {
        .quote__wrapper {
            justify-content: flex-start;
        }

        blockquote {
            max-width: 600px;

            @media(min-width: $md) {
                max-width: 389px;
            }
    
            @media(min-width: $xl) {
                max-width: 720px;
            }
        }
    }
}