@import 'wp-admin-bar';

* {
	outline: none;
	box-sizing: border-box
}

body, html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0
}

body {
	position: relative;
	min-width: 300px;
	display: flex;
	height: auto;
	font-family: $ff;
	font-size: $fs-md;
	line-height: $lh;
	color: $black;
	background-color: $white
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

form,fieldset,textarea {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
}

ul, ol {
    padding: 0;
    list-style: none;
}

input, textarea {
    font-family: $ff;
    color: $dark-blue;
    font-size: 18px;
    font-style: normal;
    font-weight: $fw-regular;
    line-height: 18px;
    letter-spacing: -0.54px;

    &::placeholder {
        opacity: 1;
        font-family: $ff;
        color: $dark-blue;
        font-size: 18px;
        font-style: normal;
        font-weight: $fw-regular;
        line-height: 18px;
        letter-spacing: -0.54px;
    }
}

textarea {
    resize: none;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
	overflow: hidden;

	.footer {
		margin-top: auto
	}
}