@import 'wp-admin-bar';

* {
	outline: none;
	box-sizing: border-box
}

body, html {
	height: 100%;
	-webkit-tap-highlight-color: rgba(0, 0, 0, 0);
	margin: 0
}

body {
	position: relative;
	min-width: 300px;
	display: flex;
	height: auto;
	font-family: $ff;
	font-size: $fs-md;
	line-height: $lh;
	color: $black;
	background-color: $light
}

img {
	display: block;
	max-width: 100%;
	height: auto;
}

form,fieldset,textarea {
    margin: 0;
    padding: 0;
}

fieldset {
    border: 0;
}

ul, ol {
    margin: 0;
    padding: 0;
    list-style: none;
}

.wrapper {
	position: relative;
	display: flex;
	flex-direction: column;
	width: 100%;
	min-height: 100vh;
    // margin-top: 80px;

    @media(min-width: $md) {
        margin-top: 100px;
    }

    @media(min-width: $lg) {
        margin-top: 0;
    }

	.footer {
		margin-top: auto
	}
}

.flex-sb {
    display: flex;
    justify-content: space-between;
    align-items: center;
}