@import '../../src/scss/utils/vars/vars.scss';
@import '../../src/scss/utils/typography/typography.scss';

.text__image {
    @include borderTop();

    &.animated {
        .text__image_info {
            animation: imageTextRight 1s forwards ease;
        }

        .image__text_heading {
            p {
                animation: textOpacity 2s forwards ease;
                animation-delay: 1s;
            }
        }
    }

    &_wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 16px;
        padding: 15px;
        overflow: hidden;

        @media(min-width: $md) {
            flex-direction: row;
            padding: 32px;
            gap: 32px;
        }
    }

    &_info {
       width: 100%;

        @media(min-width: $md) {
            width: calc(50% - 16px);
        }

        .image__text_heading {
            width: 100%;
        }

        h2 {
            margin: 16px 0;
        }
    }

    &_item {
        width: 100%;

        @media(min-width: $md) {
            width: calc(50% - 16px);
        }

		img {
			width: 100%
		}
    }
}