h1, .h1,
h2, .h2,
h3, .h3,
h4, .h4,
h5, .h5 {
	font-family: $ff;
	font-weight: $fw-bold;
	line-height: $lh;
	margin: 0
}

h1, .h1 {
    font-family: $ff;
    font-size: 70px;
    font-style: normal;
    font-weight: $fw-bold;
    line-height: 70px;
    letter-spacing: -2.6px;
    max-width: 788px;

    @media(min-width: $xs) {
        font-size: 87px;
        line-height: 88px;
    }

	@media(min-width: $md) {
        font-size: 100px;
        font-style: normal;
        font-weight: $fw-bold;
        line-height: 100px;
        letter-spacing: -3px;
	}
}

h2, .h2 {
    font-family: $ff;
    font-size: 50px;
    font-style: normal;
    font-weight: $fw-bold;
    line-height: 54px;
    letter-spacing: -1.5px;
    max-width: 350px;
    margin-bottom: 31px;

	@media all and (min-width: $md) {
		font-size: 52px;
        line-height: 56px;
        letter-spacing: -1.56px; 
        margin-bottom: 31px;
        max-width: 450px;
	}

    @media all and (min-width: $xl) {
		font-size: 56px;
        line-height: 60px;
        letter-spacing: -1.68px; 
        max-width: 100%;
        margin-bottom: 0;
	}

    &.violet {
        color: $violet;
    }

    &.grass {
        color: $grass;
    }

    &.white {
        color: $white;
    }

    &.cerulean {
        color: $cerulean;
    }
}

.image__text_heading p, .h2__wrapper p {
    display: none;
    font-family: $ff;
    font-size: 10px;
    font-style: normal;
    font-weight: $fw-bold;
    line-height: 10px;
    letter-spacing: 0.9px;
    text-transform: uppercase;

    @media all and (min-width: $md) {
        display: inline-block;
    }

    @media all and (min-width: $xl) {
        display: inline-block;
        font-size: 14px;
        line-height: 20px; 
        letter-spacing: 1.26px;
    }

    &.violet {
        color: $violet;
    }

    &.grass {
        color: $grass;
    }

    &.white {
        color: $white;
    }

    &.cerulean {
        color: $cerulean;
    }
}

.h2__box {
    display: flex;
    flex-direction: column;
    gap: 16px;

    @media(min-width: $md) {
        flex-direction: row;
    }

    @media(min-width: $xl) {
        gap: 32px;
    }

    h2 {
        margin-bottom: 0;
    }

    &_text {
        width: 100%;
        color: $dark-blue;
        font-family: $ff;
        font-size: 16px;
        font-style: normal;
        font-weight: $fw-regular;
        line-height: 19px;
        letter-spacing: -0.32px;

        @media(min-width: $md) {
            width: calc(50% - 8px);
            padding-top: 28px;
            font-size: 18px;
            line-height: 21px;
            letter-spacing: -0.36px;         
        }

        @media(min-width: $xl) {
            width: calc(50% - 16px);
            padding-top: 0;
            font-size: 20px;
            line-height: 23px;
            letter-spacing: -0.4px;
        }
    }

    .h2__wrapper {
        width: 100%;
        margin-bottom: 5px;
    
        @media(min-width: $md) {
            width: calc(50% - 8px);
        }
    
        @media(min-width: $xl) {
            width: calc(50% - 16px);
        }

        p {
            margin-bottom: 0;
        }
    }

    &.violet {
        h2, .subtitle {
            color: $violet;
        }
    }

    &.grass {
        h2, .subtitle {
            color: $grass;
        }
    }

    &.white {
        h2, .subtitle {
            color: $white;
        }
    }

    &.cerulean {
        h2, .subtitle {
            color: $cerulean;
        }
    }
}

h3, .h3 {
    font-family: $ff;
    color: $violet;
    font-size: 24px;
    font-style: normal;
    font-weight: $fw-bold;
    line-height: 22px;
    letter-spacing: -0.5px;

	@media(min-width: $md) {
        font-size: 30px;
        line-height: 32px;
        letter-spacing: -0.98px;
	}

    @media(min-width: $lg) {
        font-size: 38px;
        line-height: 42px;
        letter-spacing: -1.14px;
	}
}

h4, .h4 {
    font-family: $ff;
    color: $dark-blue;
    font-size: 16px;
    font-style: normal;
    font-weight: $fw-bold;
    line-height: 20px;
    letter-spacing: -0.3px;

    @media all and (min-width: $md) {
		font-size: 25px;
        line-height: 29px;
        letter-spacing: -0.6px;
	}

	@media all and (min-width: $lg) {
		font-size: 30px;
        line-height: 34px;
        letter-spacing: -0.9px;
	}
}

h5, .h5 {
    font-family: $ff;
    color: $dark-blue;
    font-size: 16px;
    font-style: normal;
    font-weight: $fw-bold;
    line-height: 20px;
    letter-spacing: -0.48px;

    @media all and (min-width: $md) {
        font-size: 20px;
        line-height: 24px;
        letter-spacing: -0.6px; 
    }

    @media all and (min-width: $lg) {
        font-size: 26px;
        line-height: 30px;
        letter-spacing: -0.78px;
    }
}