@import '../typography/mixins';

a {
	display: inline-block;
	text-decoration: none;
}

p {
    margin: 0;
    word-break: break-word;
   @include standfirst
}

blockquote {
    margin: 0;

    p {
        font-family: $ff;
        font-size: 25px;
        font-style: normal;
        font-weight: $fw-regular;
        line-height: 31px;
        color: $white;
        opacity: 0;
        transform: translateX(100%);

        @media(min-width: $md) {
            font-size: 26px;
            line-height: 32px;
            margin-bottom: 32px;
        }
    
        @media(min-width: $xl) {
            font-size: 30px;
            line-height: 36px;
            margin-bottom: 32px;
        }
    }

    .quote__name, .quote__job {
        color: $white;
        font-family: $ff;
        font-size: 14px;
        font-style: normal;
        font-weight: $fw-regular;
        line-height: 20px;
        opacity: 0;
        transform: translateX(100%);

        @media(min-width: $md) {
            font-size: 16px;
        }

        @media(min-width: $xl) {
            font-size: 18px;
            line-height: 22px;
        }
    }

    .quote__job {
        font-style: italic;
        margin-top: 4px;

        @media(min-width: $md) {
            margin-top: 10px;
        }

        @media(min-width: $xl) {
            margin-top: 10px;
        }
    }
}

b, strong {
	font-weight: $fw-bold
}