@import '../../src/scss/utils/vars/vars.scss';
@import '../../src/scss/utils/typography/typography.scss';

.perks {
    @include borderTop;

    &.animated {
        .h2__box_text p {
            animation: textOpacity 2s forwards ease;
            animation-delay: 1s;
        }

        .h2__wrapper p {
            animation: textOpacity 2s forwards ease;
        }
    }

    &__wrapper {
        padding: 6px 15px 16px 15px;
        overflow: hidden;

        @media(min-width: $md) {
            padding: 25px 20px 32px 20px;
        }

        @media(min-width: $xl) {
            padding: 59px 110px 30px 110px
        }
    }

    .h2__box {
        margin-bottom: 25px;

        @media(min-width: $md) {
            margin-bottom: 35px;
        }

        @media(min-width: $xl) {
            margin-bottom: 34px
        }

		&_text {
			@media(min-width: $xl) {
				width: calc(50% - 13px);
				letter-spacing: -0.4px;
				padding-top: 2px
			}
		}

        p {
            opacity: 0;
        }
    }

    &__cards {
        display: flex;
        flex-wrap: wrap;

        @media(min-width: $xl) {
            padding-left: 6px
        }
    }

    &__card {
        width: 100%;
        outline: 2.5px solid $dark-blue;
        position: relative;
        background-color: $white;
        
        @media(min-width: $sm) {
            width: calc(100% / 2);

            &:last-child {
                width: 100%;

                .perks__card_inner {
                    padding: 10px;
                }
            }
        }

        @media(min-width: $xl) {
            width: calc(100% / 5);

            &:last-child {
                width: calc(100% / 5);

                .perks__card_inner {
                    padding: 7px 10px 20px 10px;
                }
            }
        }

        &_img {
            width: 100%;
            height: 76px;
            border-bottom: 2px solid $dark-blue;

            img {
                width: 100%;
                height: 100%;
                object-fit: cover
            }
        }

        &_inner {
            display: flex;
            flex-direction: column;
            padding: 10px;

            @media(min-width: $md) {
                padding: 18px;
            }

            @media(min-width: $xl) {
                padding: 10px 10px 23px
            }
        }

        &_title {
            @include caps;

            margin-bottom: 10px;
            word-wrap: break-word;

            @media(min-width: $xl) {
                min-height: 48px;
                margin-bottom: 6px;
            }
        }

        &_text {
            @include textBoxes;
        }
    }
}