.header {
    position: fixed;
    width: 100%;
    z-index: 95;
    top: 0;
    left: 0;
    background-color: $light;
    padding: 21px 0;
    overflow: hidden;
    transition: padding ease $tr;
    border-bottom: 2px solid $dark-blue;

    @media (min-width: $md) {
        padding: 28.5px 0;
    }

    .logo {
        transition: top ease $tr;
    }

    .header__logo_wrapper {
        padding-left: 5px;

        @media (min-width: $md) {
            padding-left: 15px;
        }
    }

    &.animated {
        background-color: $light;
        border-bottom: 2px solid $dark-blue;
        padding: 13.5px 0;

        .logo {
            .violet__gear, .green__gear {
                animation: none;
            }
    
            .red__gear, .blue__gear {
                animation: none;
            }
        }

        .header__logo_wrapper {
            position: relative;
            z-index: 101;
        }

        .logo {
            position: relative;
                width: 38px;
                height: 50px;
                margin-left: 10px;
                position: relative;

                &__inner {
                    padding-left: 0;
                }

                &__text {
                    display: none;
                }

                .logo__gears {
                    width: 100%;
                    height: 100%;
                    position: relative;
    
                    .violet__gear {
                        width: 13px;
                        height: 13px;
                        right: 5px;
                        top: 0;
                    }
    
                    .red__gear {
                        width: 15px;
                        height: 15px;
                        left: 5px;
                        top: 8px;
                    }
    
                    .green__gear {
                        width: 18px;
                        height: 18px;
                        right: 0;
                        top: 17px;
                    }
    
                    .blue__gear {
                        width: 21px;
                        height: 21px;
                        left: 0;
                        top: 30px;
                    }
            }

            @media (min-width: $lg) {
                width: 58px;
                height: 77px;
                margin-left: 13px;
                position: relative;

                .logo__gears {
                    width: 100%;
                    height: 100%;
                    position: relative;
    
                    .violet__gear {
                        width: 20px;
                        height: 20px;
                        right: 5px;
                        top: 3px;
                    }
    
                    .red__gear {
                        width: 23px;
                        height: 23px;
                        left: 10px;
                        top: 15px;
                    }
    
                    .green__gear {
                        width: 29px;
                        height: 29px;
                        right: -5px;
                        top: 30px;
                    }
    
                    .blue__gear {
                        width: 33px;
                        height: 33px;
                        left: 5px;
                        top: 48px;
                    }
                }
            }
        }
    }

    &.opened {
        padding-bottom: 0;
        transition: none;
    }

    &__wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        position: relative;
    }

    &__inner {
        position: relative;
        display: none;

        &::before {
            content: "";
            position: absolute;
            left: 0;
            top: 0;
            width: 100vw;
            height: calc(100% - 4px);
            margin-left: calc(50% - 50vw);
            z-index: -1;
        }

        &.opened {
            display: flex;
            align-items: center;
            width: 100%;
            padding-top: 30px;
            animation: fadeIN 0.7s forwards ease;

            &::before {
                display: none;
            }

            ul {
                flex-direction: column;
            }

            .header-nav {
                width: 100%;

                &::before, &::after {
                    display: none;
                }
            }

            .menu {
                margin-left: 0;
                width: 100%;
            }
        }

        &.closed {
            animation: fadeOUT 1s forwards ease;
        }
    }
}