@import '../../src/scss/utils/vars/vars.scss';
@import '../../src/scss/utils/typography/typography.scss';

.discuss {
    @include borderTop;
    overflow: hidden;

    &__wrapper {
        padding: 4px 14px 16px 14px;

        @media(min-width: $md) {
            padding: 50px 20px 20px 20px;
        }

        @media(min-width: $xl) {
            padding: 50px 110px 32px 110px;
        }
    }

    &__heading {
        h2 {
            margin-bottom: 25px;

            @media(min-width: $xl) {
                margin-bottom: 45px;
            }
        }

        margin-bottom: 18px;

        @media(min-width: $xl) {
            margin-bottom: 36px;
        }
    }
}