@import '../../src/scss/utils/vars/vars.scss';
@import '../../src/scss/utils/typography/typography.scss';

.discuss {
    @include borderTop;

    &__wrapper {
        overflow: hidden;
        padding: 15px;

        @media(min-width: $md) {
            padding: 50px 20px 20px 20px;
        }

        @media(min-width: $xl) {
            padding: 64px 115px 35px 115px
        }
    }

    p {
        color: $dark-blue;
    }

    &__heading {
		margin-bottom: 18px;

		@media(min-width: $xl) {
			margin-bottom: 34px
		}

        h2 {
            margin-bottom: 25px;

            @media(min-width: $xl) {
                margin-bottom: 45px;
            }
        }

        p {
            font-weight: $fw-light;
        }
    }
}