@import '../../src/scss/utils/vars/vars.scss';
@import '../../src/scss/utils/typography/typography.scss';

.discuss {
    @include borderTop;

    &__wrapper {
        overflow: hidden;
        padding: 15px;

        @media(min-width: $md) {
            padding: 50px 20px 20px 20px;
        }

        @media(min-width: $xl) {
            padding: 64px 115px 35px 115px
        }

		iframe {
			height: 440px;

			@media(min-width: $md) {
				height: 410px;
			}
		}
    }

    p {
        color: $dark-blue;
    }

    &__heading {
		margin-bottom: 18px;

		@media(min-width: $xl) {
			margin-bottom: 34px
		}

        h2 {
            margin-bottom: 25px;

            @media(min-width: $xl) {
                margin-bottom: 45px;
            }
        }

        p {
            font-weight: $fw-light;
        }
    }
}

.page-template-loneliness {
	.discuss {
		&__heading {
			margin-bottom: 15px;

			@media(min-width: $lg) {
				margin-bottom: 25px;
			}
		}

		h2 {
			color: $terracota;
			margin-bottom: 15px;

			@media(min-width: $lg) {
				margin-bottom: 25px;
			}
		}

		.wpcf7-form {
			.form__submit {
				flex-direction: column;

				@media(min-width: $lg) {
					flex-direction: row;
				}

				.wpcf7-list-item-label {
					position: relative;
					padding-left: 25px;

					&::before {
						position: absolute;
						left: 0;
						top: 50%;
						transform: translateY(-50%);
					}
				}

				.checkbox__wrapper {
					flex-direction: column;
					margin-bottom: 20px;

					@media(min-width: $lg) {
						margin-bottom: 0;
					}
				}

				button.form__button.wpcf7-submit {
					background-color: $dark-blue;
					border-color: $dark-blue;
					color: $white;
					margin: 0;
					margin-left: auto;
				}
			}
		}
	}	

	.checkbox__wrapper input[type="checkbox"]:checked + .wpcf7-list-item-label::before {
		background-color: $terracota;
		border-color: $terracota;
	}

	.form__button {
		color: $white;
	}
}