@import '../../src/scss/utils/vars/vars.scss';
@import '../../src/scss/utils/typography/typography.scss';

.global__text {
   @include borderTop;
   font-weight: $fw-light;

    &_wrapper {
        padding: 15px 16px;
        overflow: hidden;

        @media(min-width: $md) {
            padding: 20px 20px;
        }

        @media(min-width: $xl) {
            padding: 38px 9% 40px 32px;
        }
    }

    p {
        @include firstLine
    }
}