@import '../../src/scss/utils/vars/vars';
@import '../../src/scss/utils/typography/typography.scss';

.hero {
	&-bg {
		position: absolute;
		top: 0;
		left: 0;
		width: 100%;
		height: 100%;

		img {
			width: 100%;
			height: 100%;
			object-fit: cover
		}
	}

    &__wrapper {
		position: relative;
        width: 100%;
        display: flex;
		flex-wrap: wrap;
        align-items: flex-end;
        padding: 7px 7px 30px 12px;
        min-height: 706px;
        overflow: hidden;

        @media(min-width: $md) {
            padding: 20px 15px 43px 15px;
        }

        @media(min-width: $xl) {
            padding: 40px 32px 60px 32px;
            min-height: 710px;
        }

        h1 {
			position: relative;
            max-width: 100%
        }
    }

    video {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        z-index: -1;
        transform: translateX(-200%);
        animation: imageTextRight 1s forwards ease;
    }

	&-subtitle {
		position: relative;
		font-family: $ff;
		color: $white;
		font-size: 30px;
		margin-bottom: 10px;
		padding-left: 5px;

		@media(min-width: 393px) {
			font-size: 45px;
		}

		@media(min-width: $md) {
			padding-left: 10px;
			font-size: 58px;
			margin-bottom: 20px;
		}
	}
}

.page-template-loneliness {
	
	.hero-subtitle {
		margin-bottom: 0;
	}
	 
	.hero__wrapper  {
		flex-direction: column;
		align-items: flex-start;
		justify-content: center;
		padding: 7px 7px 30px 12px;

		@media(min-width: $lg) {
			padding: 40px 32px 120px 32px;
		}

		h1 {
			font-size: 50px;
			color: $terracota;

			@media(min-width: 393px) {
				font-size: 65px;
			}

			@media(min-width: $md) {
				font-size: 120px;
			}

			@media(min-width: $lg) {
				font-size: 132px;
			}
		}
	}
}