@import '../../src/scss/utils/vars/vars';
@import '../../src/scss/utils/typography/typography.scss';

.hero {
    @include borderTop;
    &__wrapper {
        overflow: hidden;
        width: 100%;
        display: flex;
        align-items: flex-end;
        padding: 7px 7px 30px 12px;
        position: relative;
        min-height: 706px;
        overflow: hidden;

        @media(min-width: $md) {
            padding: 20px 16px 43px 16px;
        }

        @media(min-width: $xl) {
            padding: 40px 32px 60px 32px;
            min-height: 710px;
        }
    }

    video {
        width: 100%;
        height: 100%;
        position: absolute;
        left: 0;
        top: 0;
        object-fit: cover;
        z-index: -1;
        transform: translateX(-200%);
        animation: imageTextRight 1s forwards ease;
    }
}