@import '../../src/scss/utils/vars/vars.scss';
@import '../../src/scss/utils/typography/typography.scss';

.members {
    @include borderTop;
    &.animated {
        .h2__box_text p {
            animation: textOpacity 2s forwards ease;
            animation-delay: 1s;
        }

        .h2__wrapper p {
            animation: textOpacity 2s forwards ease;
        }

        .members__logo {
            animation: textOpacity 2s forwards ease;
        }

        .members__logo_lines {
            animation: linesWidth 1s forwards ease;
            animation-delay: 0.5s;
        }

        .vertical__line {
            animation: linesHeight 1s forwards ease;
            animation-delay: 1s;
        }

        .members__items_wrapper {
            &::before {
                animation: quoteImg 1s forwards ease;
                animation-delay: 2s;
            }
        }

        .members__item {
            animation: itemsY 1s forwards ease;
            animation-delay: 3s;
        }
    }
    .h2__box {
        margin-bottom: 23px;

        @media(min-width: $md) {
            margin-bottom: 65px;
        }

        @media(min-width: $xl) {
            margin-bottom: 45px;
        }

        p {
            opacity: 0;
        }
    }

    &__wrapper {
        padding: 15px;
        overflow: hidden;

        @media(min-width: $md) {
            padding: 20px 20px 32px 20px;
        }

        @media(min-width: $xl) {
            padding: 64px 113px 32px 113px;
        }
    }

    .h2__box {
        margin-bottom: 35px;

        @media(min-width: $md) {
            margin-bottom: 65px;
        }

        @media(min-width: $md) {
            margin-bottom: 42px;
        }

        @media(min-width: $xl) {
            &_text {
                padding-top: 30px;
                padding-right: 10px;
            }
        }
    }

    &__logo {
        display: flex;
        flex-direction: column;
        align-items: center;
        opacity: 0;

        .logo {
            margin-bottom: 14px;

            @media(min-width: $md) {
                margin-bottom: 24px;
            }

            .violet__gear, .green__gear {
                animation: rotationForward 5s infinite linear;
            }

            .red__gear, .blue__gear {
                animation: rotationReverse 5s infinite linear;
            }

            &:hover {
                opacity: 1;
            }
        }

        &_lines {
            width: 0;
            height: 25px;
            position: relative;

            @media(min-width: $md) {
                height: 71px;
            }
            
            .horizontal__line {
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 2px;
                background-color: $dark-blue;
            }

            .vertical__line {
                position: absolute;
                left: 50%;
                top: 0;
                transform: translateX(calc(-50% + 1px));
                width: 2px;
                height: 0;
                background-color: $dark-blue;
            }
        }
    }

    &__items_wrapper {
        display: flex;
        flex-wrap: wrap;
        position: relative;
        overflow: hidden;

        &::before {
            content: "";
            width: 0;
            height: 2px;
            background-color: $dark-blue;
            position: absolute;
            top: 0;
            left: 50%;
            transform: translateX(-50%);
            z-index: 1;
        }
    }

    &__item {
        width: calc(100% / 2);
        border: 2px solid $dark-blue;
        border-bottom-width: 0;
        transform: translateY(-400%);
        background-color: $white;

        &:nth-child(-n + 2) {
            border-top: 0;
        }

        &:nth-last-child(-n + 2) {
            border-bottom-width: 2px;
        }

        &:nth-child(2n + 1) {
            border-right-width: 0px;
        }

        @media(min-width: $xl) {
            width: calc(100% / 4);

            &:nth-child(-n + 4) {
                border-top: 0;
            }

            &:nth-last-child(-n + 4) {
                border-bottom-width: 2px;
            }

            &:nth-child(2n) {
                border-right-width: 0px;
            }

            &:nth-child(4n) {
                border-right-width: 2px;
            }
        }

        &_logo {
            display: flex;
            justify-content: center;
            padding: 17px 0;
            border-bottom: 2px solid $dark-blue;

            @media(min-width: $md) {
                justify-content: flex-start;
                padding: 15px 14px;
            }

            .violet__gear, .green__gear {
                animation: rotationForward 5s infinite linear;
            }
    
            .red__gear, .blue__gear {
                animation: rotationReverse 5s infinite linear;
            }
        }

        &_inner {
            display: flex;
            height: calc(100% - 91px);
            flex-direction: column;
            padding: 5px 11px 10px 7px;
            min-height: 148px;

            @media(min-width: $md) {
                height: calc(100% - 115px);
                padding: 5px 16px 16px 16px;
                min-height: 194px;
            }

            @media(min-width: $md) {
                min-height: 201px;
            }
        }

        &_title {
            color: $dark-blue;
            font-family: $ff;
            font-size: 12px;
            font-style: normal;
            font-weight: $fw-bold;
            line-height: 16px;
            margin-bottom: 7px;

            @media(min-width: $md) {
                font-size: 16px;
                line-height: 20px;
                margin-bottom: 10px;
            }
        }

        &_text {
            color: $dark-blue;
            font-family: $ff;
            font-size: 12px;
            font-style: normal;
            font-weight: $fw-regular;
            line-height: 16px;

            @media(min-width: $md) {
                font-size: 16px;
                line-height: 20px;
            }
        }

        &_link {
           @include link;
            padding-top: 10px;
           margin: auto 0 0 auto;
        }
    }

    &__slogan {
        display: flex;
        align-items: center;
        justify-content: space-between;
        padding: 10px 0;
        gap: 10px;

        @media(min-width: $md) {
            gap: 32px;
        }

        &_left, &_right {
            width: 100%;
            max-width: 73px;
            display: flex;
            align-items: center;
            position: relative;

            img {
                width: 100%;
                max-width: 254px;
            }

            @media(min-width: $md) {
                max-width: 118px;
            }

            @media(min-width: $xl) {
                max-width: 254px;
            }

            .mobile__arrow {
                @media(min-width: $md) {
                    display: none;
                }
            }

            .tab__arrow {
                display: none;

                @media(min-width: $md) {
                    display: block;
                }

                @media(min-width: $xl) {
                    display: none;
                }
            }

            .desktop__arrow {
                display: none;

                @media(min-width: $xl) {
                    display: block;
                }
            }
        }

        &_right {
            display: flex;
            justify-content: flex-end;
            
            img {
                transform: rotate(180deg);
            }
        }

        &_text {
            width: 100%;
            max-width: 208px;
            color: $dark-blue;
            font-family: $ff;
            font-size: 14px;
            font-style: normal;
            font-weight: $fw-bold;
            line-height: 16px;
            text-transform: uppercase;
            text-align: center;

            @media(min-width: $md) {
                font-size: 20px;
                line-height: 24px;
                max-width: 470px;
            }
        }
    }
}
