@import '../../src/scss/utils/vars/vars';
@import '../../src/scss/utils/typography/typography.scss';

.find-out {
	@include borderTop;

	&-items {
		display: flex;
		flex-direction: column;
		background-color: #2C2D3B;

		@media(min-width: $md) {
			flex-direction: row;
		}
	}

	&-form {
		display: flex;
		flex-direction: column;
		width: 100%;
		padding: 20px;

		@media(min-width: $md) {
			width: 60%;
		}

		@media(min-width: $xl) {
			width: 40%;
			padding: 30px 40px;
		}

		h2 {
			color: $white;
			margin-bottom: 30px;
		}

		form {
			display: flex;
			flex-direction: column;
			gap: 10px;
			align-items: flex-start;

			.wpcf7-list-item-label {
				color: $white;
			}

			.button.white {
				margin-top: 20px;
			}
		}

		iframe {
			width: 100%;
			height: 420px;
		}
	}

	&-img {
		width: 100%;

		@media(min-width: $md) {
			width: 40%;
		}

		@media(min-width: $xl) {
			width: 60%;
		}

		img {
			width: 100%;
			height: 100%;
			object-fit: cover;
		}
	}
}