body {
	div[style="position: static;"],
	div[style="position:static;"],
	div[style="position: static"],
	div[style="position:static"] {
		display: none
	}
}

.post-single-buttons {
	display: flex;
	justify-content: flex-end;
	align-items: center;
	gap: 10px;
	width: 100%;
	padding-top: 31px;
	margin-top: 31px;
	border-top: 2px solid $black;

	&-text {
		padding: 10px 16px
	}
}

.addtoany_shortcode {
	.addtoany_list {
		display: flex;
		gap: 10px;

		a {
			padding: 0;

			img {
				display: block
			}

			&:not(.addtoany_special_service) > span {
				border-radius: 0;

				svg {
					display: none
				}
			}
		}
	}

	.a2a_s_email,
	.a2a_s_linkedin {
		width: auto !important;
		height: auto !important;
		background-color: transparent !important;

		&::before {
			content: '';
			display: block;
			background-size: 100%;
			height: 39px
		}
	}

	.a2a_s_email {
		&::before {
			width: 78px;
			background-image: url('../img/email.svg');
		}
	}

	.a2a_s_linkedin {
		&::before {
			width: 100px;
			background-image: url('../img/linkedin.svg');
		}
	}
}

.post-single-info-wrapper {
	.post-single-buttons {
		justify-content: flex-start;
		padding-bottom: 31px;
		border-bottom: 2px solid $black
	}
}