.call__modal {
    display: flex;
    justify-content: center;
    align-items: center;
    color: $white;
    font-family: $ff;
    font-size: 10px;
    font-style: normal;
    font-weight: $fw-bold;
    line-height: 1;
    letter-spacing: 1.26px;
    text-transform: capitalize;
    padding: 11px;
    border: 2px solid $white;
    background-color: $dark-blue;
    transition: background-color ease $tr, color ease $tr,
            border-color ease $tr;

    @media(min-width: $md) {
        font-size: 14px;
    }

    &:hover {
        background-color: $grass;
        color: $white;
        border-color: $grass;
    }
}