.subscribe__button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20px;
    height: 20px;
    color: $cerulean;
    font-family: $ff;
    font-size: 15px;
    font-style: normal;
    font-weight: $fw-regular;
    line-height: 15px;
    transition: color ease $tr;

    &:hover {
        color: $white;
    }
}