.swiper-prev, .swiper-next {
    width: 30px;
    height: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: $dark-blue;
    text-align: center;
    font-family: $ff;
    font-size: 26px;
    font-style: normal;
    font-weight: $fw-regular;
    line-height: 1;
    cursor: pointer;
    position: relative;
    transition: color ease $tr;

    span {
        padding-bottom: 5px;
    }

    &:hover {
        color: $cerulean;
    }
}

.swiper-prev {
    span {
        transform: scaleX(-1);
    }
}

