@import '../utils/vars/colors';
@import '../utils/vars/vars.scss';

.page-template-application {
	.html-content {
		&-wrapper {
			padding: 60px 20px;
			display: flex;
			flex-direction: column;
			max-width: 830px;

			@media(min-width: $md) {
				padding: 60px;
			}

			h1 {
				font-size: 48px;
				margin-bottom: 20px;
				color: $dark-blue;

				@media(min-width: $md) {
					font-size: 65px;
				}
			}

			h3 {
				font-size: 25px;
				color: $dark-blue;
				margin-bottom: 20px;
			}

			ul {
				font-family: $ff;
				font-size: 18px;
				list-style: disc;
				padding-left: 20px;
				margin-bottom: 20px;
				color: $dark-blue;
				font-weight: $fw-light;

				&:last-child {
					margin-bottom: 0;
				}
			}

			p {
				font-family: $ff;
				font-size: 18px;
				margin-bottom: 20px;
				color: $dark-blue;
				font-weight: $fw-light;

				&:last-child {
					margin-bottom: 0;
				}

				span {
					text-decoration: underline;
				}
			}

			hr {
				width: 30%;
				margin: 0 auto 20px 0;
				color: $dark-blue;
			}

			iframe {
				margin-top: 30px;
				height: 2700px;

				@media(min-width: 393px) {
					height: 2600px;
				}

				@media(min-width: $md) {
					height: 2350px;
				}

				@media(min-width: $lg) {
					height: 2250px;
				}
			}
		}
	}
}
