@import '../utils/vars/vars';
@import '../utils/grid/mixins';

.elementor-wt-content {
	@media (max-width: 1343px) {
		width: 100%;
		padding: 0 7px
	}

	@media (min-width: 1344px) {
		@include container
	}
}

.elementor-wt-content-thumb {
	display: flex;
	justify-content: center;
	align-items: center;
	border-bottom: 2px solid $black;
	height: 200px;

	@media(min-width: $sm) {
		height: 300px;
	}

	@media(min-width: $md) {
		height: 530px;
	}

	img {
		width: 100%;
		height: 100%;
		object-fit: cover;
	}
}