@import '../utils/vars/vars';

.page-template-exec {
	.hero {
		.button.white {
			font-size: 20px;
			font-weight: $fw-bold;
			padding: 12px 12px 10px 12px;
			line-height: 20px;
	
			@media(min-width: $lg) {
				font-size: 22px;
				line-height: 22px;
			}
		}	
	}

	h2 {
		font-size: 40px;
		line-height: 40px;
		max-width: 100%;

		@media(min-width: $md) {
			font-size: 56px;
			line-height: 56px;
		}
	}

	.image__text {
		.image__text_heading h2 {
				max-width: 800px;
		}

		&_right {
			padding: 25px 15px;

			@media(min-width: $md) {
				padding: 28px 32px 40px 32px;
			}
		}

		.button.bg {
			background-color: $white;
			color: $black;
			margin-top: 20px;
		}
	}

	#growing {
		.image__text_left {
			height: 400px;

			@media(min-width: $md) {
				height: auto;
			}
		}
		.button {
			background-color: $dark-blue;
			color: $white;
		}
	}

	.find-out {
		&-form {
			.wpcf7-response-output {
				color: $white;
			}
		}
	}

	.logo {
		&:hover {
			opacity: 1;
		}
	}

	.signup-modal {
		iframe {
			height: 430px;
		}

		.modal {
			background-color: $dark-blue;
		}
	}

	.modal__wrapper {
		.form__button.wpcf7-submit {
			color: $white;
		}
	}

	.dropdowns {
		padding: 32px;
	}
}