@import '../utils/vars/vars';

.knowledge-hub {
    padding: 25px 0;

    @media(min-width: $md) {
        padding: 50px 0;
    }

	&-cats {
		display: flex;
		flex-wrap: wrap;
		width: 100%
	}

    .latest__item {
        &_inner {
            width: 100%;
        }

        p { display: -webkit-box;
            -webkit-line-clamp: 2;
            -webkit-box-orient: vertical;
            margin-bottom: 14px;
            overflow: hidden;
            height: 30px;
            color: $dark-blue;

            @media(min-width: $sm) {
                -webkit-line-clamp: 3;
                height: 48px;
            }
    
            @media(min-width: $md) {
                height: 59px;
                font-size: 14px;
            }
    
            @media(min-width: $lg) {
                height: 95px;
                -webkit-line-clamp: 4;
                font-size: 18px;
                line-height: 24px;
            }
    
            @media(min-width: $xl) {
                height: 112px;
                line-height: 28px;
            }
        }

        a {
            color: $grass;
        }
    }
}

.categories {
    &-wrapper {
        width: 100%;
        padding: 20px;

        h2 {
            margin-bottom: 10px;
            font-size: 25px;
            line-height: $lh;
            color: $grass;

            @media(min-width: $md) {
                font-size: 40px;
                margin-bottom: 20px;
            }
        }
        
        &.full-width {
            width: 100%;

            .hub-card {
                width: 100%;
                margin-bottom: 5px;

                &-bottom {
                    display: flex;
                    flex-direction: column;
                    height: calc(100% - 160px);

                    @media(min-width: $sm) {
                        height: calc(100% - 110px);
                    }

                    @media(min-width: $lg) {
                        height: calc(100% - 160px);
                    }

                    a {
                        margin-top: auto;
                    }
                }

                &:last-child {
                    margin-bottom: 0;
                }

                @media(min-width: $sm) {
                    margin-right: 5px;
                    width: calc(50% - 3px);

                    &:nth-child(even) {
                        margin-right: 0;
                    }
                }

                @media(min-width: $lg) {
                    width: calc(20% - 4px);
                    margin-right: 5px;
                    margin-bottom: 0;

                    &:nth-child(even) {
                        margin-right: 5px;
                    }

                    &:last-child {
                        margin-right: 0;
                    }
                }

                &-img {
                    height: 150px;

                    @media(min-width: $sm) {
                        height: 100px;
                    }

                    @media(min-width: $lg) {
                        height: 150px;
                    }
                }

                p {
                    font-size: 10px;
                    line-height: 16px;
                    padding: 0 5px;
        
                    @media(min-width: $md) {
                        font-size: 14px;
                        margin-bottom: 32px;
                        padding: 0 10px;
                    }
        
                    @media(min-width: $xl) {
                        font-size: 20px;
                        line-height: 23px;
                    }
                }

                &:nth-child(-n+2) {
                    .hub-card-img {
                        height: 150px;

                        @media(min-width: $sm) {
                            height: 100px;
                        }

                        @media(min-width: $lg) {
                            height: 150px;
                        }
                    }
                }
            }

            .categories-link-wrapper {
                justify-content: flex-end;
            }

            .hub-card, .link-card {
                &:nth-child(-n+2) {
                    p {
                        display: -webkit-box;
                        -webkit-line-clamp: 4;
                        -webkit-box-orient: vertical;
                        margin-bottom: 14px;
                        overflow: hidden;
                        height: 63px;
                        color: $dark-blue;
                
                        @media(min-width: $md) {
                            height: 65px;
                            font-size: 14px;
                        }
                
                        @media(min-width: $lg) {
                            height: 65px;
                            font-size: 18px;
                        }
                
                        @media(min-width: $xl) {
                            height: 112px;
                            line-height: 28px;
                        }
                    }
                    
                }

                p {
                    display: -webkit-box;
                    -webkit-line-clamp: 4;
                    -webkit-box-orient: vertical;
                    margin-bottom: 14px;
                    overflow: hidden;
                    height: 63px;
                    color: $dark-blue;
            
                    @media(min-width: $md) {
                        height: 65px;
                        font-size: 14px;
                    }
            
                    @media(min-width: $lg) {
                        height: 65px;
                        font-size: 18px;
                    }
            
                    @media(min-width: $xl) {
                        height: 112px;
                        line-height: 28px;
                    }
                }
            }
        }
    }

    &-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
    }

    &-link-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        a {
            .link__arrow {
				font-size: 14px;
				text-transform: capitalize;
				margin-left: auto;
		
				@media(min-width: $md) {
					font-size: 18px;
				}
		
				&_wrapper {
					padding-top: 14px;
				}
			}
        }
    }
}

h1 {
    text-align: center;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 20px;
    color: $violet;

    @media(min-width: $md) {
        font-size: 70px;
        margin-bottom: 50px;
    }
}

.hub-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $dark-blue;
    width: 100%;
    background-color: $white;

    p {
        display: -webkit-box;
        -webkit-line-clamp: 4;
        -webkit-box-orient: vertical;
        margin-bottom: 14px;
        font-size: 10px;
        line-height: 10px;
        overflow: hidden;
        height: 63px;
        color: $dark-blue;
        padding: 0 5px;

        @media(min-width: $md) {
            height: 65px;
            font-size: 14px;
            line-height: 16px;
            padding: 0 10px;
        }

        @media(min-width: $lg) {
            height: 65px;
            font-size: 18px;
        }

        @media(min-width: $xl) {
            height: 112px;
            line-height: 28px;
        }
    }

    &.link-card {
        p {
            display: -webkit-box;
            -webkit-line-clamp: 4;
            -webkit-box-orient: vertical;
            margin-bottom: 14px;
            overflow: hidden;
            height: 63px;
            color: $dark-blue;
    
            @media(min-width: $md) {
                height: 65px;
                font-size: 14px;
            }
    
            @media(min-width: $lg) {
                height: 65px;
                font-size: 18px;
            }
    
            @media(min-width: $xl) {
                height: 112px;
                line-height: 28px;
            }       
        }

        &:hover {
            opacity: 0.7;
        }

        &:nth-child(-n + 2) {
            p {
                display: -webkit-box;
                -webkit-line-clamp: 4;
                -webkit-box-orient: vertical;
                margin-bottom: 14px;
                overflow: hidden;
                height: 41px;
                color: $dark-blue;
        
                @media(min-width: $md) {
                    height: 65px;
                    font-size: 14px;
                }
        
                @media(min-width: $lg) {
                    height: 65px;
                    font-size: 18px;
                }
        
                @media(min-width: $xl) {
                    height: 112px;
                    line-height: 28px;
                }          
            }
        }
    }

    &:nth-last-child(-n+2) {
        display: none;
    }

    @media(min-width: $sm) {
        width: calc(50% - 5px);

        &:first-child {
            width: 100%;

            .hub-card-img {
                height: 200px;
            }
        }
    }

    @media(min-width: $md) {
        &:nth-last-child(-n+2) {
            display: flex;
        }

        width: calc(25% - 8px);

        &:first-child {
            .hub-card-img {
                height: 250px;
            }
        }
    }

    @media(min-width: $lg) {
        width: calc(33.333% - 7px);

        &:nth-child(-n + 2) {
            width: calc(50% - 5px);
    
            .hub-card-img {
                height: 250px;
            }
        }
    }

    &-inner {
        width: 100%;
        height: 100%;
        display: flex;
        flex-direction: column;
    }

   
    &-img {
        width: 100%;
        height: 150px;
        border-bottom: 2px solid $dark-blue;
        margin-bottom: 10px;

        @media(min-width: $lg) {
            height: 100px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    a {
        font-family: $ff;
        font-weight: $fw-regular;
        font-size: 10px;
        color: $dark-blue;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 5px 0;
        border-top: 2px solid $dark-blue;
        transition: color ease $tr, background-color ease $tr;

        &:hover {
            background-color: $dark-blue;
            color: $white;
        }

        @media(min-width: $md) {
            font-size: 14px;
            padding: 10px 0;
        }
    }
}

