@import '../utils/vars/vars';

.knowledge-hub {
    padding: 25px 0;

    @media(min-width: $md) {
        padding: 50px 0;
    }

	&-cats {
		display: flex;
		flex-wrap: wrap;
		width: 100%
	}
}

.categories {
    &-wrapper {
        width: 100%;
        padding: 20px;

        @media(min-width: $lg) {
            width: 50%;
        }

        h2 {
            margin-bottom: 10px;
            font-size: 25px;
            line-height: $lh;
            color: $cerulean;

            @media(min-width: $md) {
                font-size: 40px;
                margin-bottom: 20px;
            }
        }
        
        &.full-width {
            width: 100%;

            .hub-card {
                width: 100%;

                @media(min-width: $sm) {
                    width: calc(33.333% - 8px);
                }

                @media(min-width: $lg) {
                    width: calc(20% - 8px);
                }

                &-img {
                    height: 150px;

                    @media(min-width: $sm) {
                        height: 100px;
                    }

                    @media(min-width: $lg) {
                        height: 150px;
                    }
                }

                p {
                    font-size: 14px;
                    height: 58px;

                    @media(min-width: $md) {
                        height: 68px;
                    }

                    @media(min-width: $lg) {
                        height: 63px;
                    }
                }

                &:nth-child(-n+2) {
                    .hub-card-img {
                        height: 150px;

                        @media(min-width: $sm) {
                            height: 100px;
                        }

                        @media(min-width: $lg) {
                            height: 150px;
                        }
                    }
                }
            }

            .categories-link-wrapper {
                justify-content: flex-start;

                a {
                    @media(min-width: $xl) {
                        width: 204px;
                    }

                    @media(min-width: $xxl) {
                        width: 237px;
                    }
                }
            }

            .hub-card, .link-card {
                &:nth-child(-n+2) {
                    p {
                        @media(min-width: $sm) {
                            height: 35px;
                        }
    
                        @media(min-width: $md) {
                            height: 45px;
                        }
    
                         @media(min-width: $lg) {
                            height: 32px;
                        }
                    }
                    
                }

                p {
                    @media(min-width: $sm) {
                        height: 35px;
                    }

                    @media(min-width: $md) {
                        height: 45px;
                    }

                     @media(min-width: $lg) {
                        height: 32px;
                    }
                }
            }
        }
    }

    &-inner {
        display: flex;
        flex-wrap: wrap;
        justify-content: flex-start;
        gap: 10px
    }

    &-link-wrapper {
        display: flex;
        justify-content: center;
        align-items: center;
        margin-top: 20px;

        a {
            display: flex;
            justify-content: center;
            align-items: center;
            font-family: $ff;
            font-weight: $fw-regular;
            font-size: 14px;
            color: $dark-blue;
            width: 100%;
            padding: 10px;
            transition: color ease $tr, background-color ease $tr;
            background-color: $dark-blue;
            color: $white;
            border: 2px solid $dark-blue;
    
            &:hover {
                background-color: transparent;
                color: $dark-blue;
            }
    
            @media(min-width: $md) {
                font-size: 14px;
                width: 100%;
            }
    
            @media(min-width: $lg) {
                font-size: 18px;
            }
        }
    }
}

h1 {
    text-align: center;
    font-size: 40px;
    line-height: 1;
    margin-bottom: 20px;
    color: $violet;

    @media(min-width: $md) {
        font-size: 70px;
        margin-bottom: 50px;
    }
}

.hub-card {
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid $dark-blue;
    width: 100%;

    &.link-card {
        p {
            height: 35px;
            -webkit-line-clamp: 2;

            @media(min-width: $md) {
                height: 45px;
            }

            @media(min-width: $lg) {
                height: 35px;
            }
        }

        &:hover {
            opacity: 0.7;
        }

        &:nth-child(-n + 2) {
            p {
                height: 40px;
                -webkit-line-clamp: 2;

                @media(min-width: $md) {
                    height: 45px;
                }

                @media(min-width: $lg) {
                    height: 40px;
                }
            }
        }
    }

    &:nth-last-child(-n+2) {
        display: none;
    }

    @media(min-width: $sm) {
        width: calc(50% - 5px);

        &:first-child {
            width: 100%;

            .hub-card-img {
                height: 200px;
            }
        }
    }

    @media(min-width: $md) {
        &:nth-last-child(-n+2) {
            display: flex;
        }

        width: calc(25% - 8px);

        &:first-child {
            .hub-card-img {
                height: 250px;
            }
        }
    }

    @media(min-width: $lg) {
        width: calc(33.333% - 7px);

        &:nth-child(-n + 2) {
            width: calc(50% - 5px);
    
            .hub-card-img {
                height: 250px;
            }
    
            p {
                @media(min-width: $md) {
                    height: 65px;
                    font-size: 14px;
                }
        
                @media(min-width: $lg) {
                    height: 83px;
                    -webkit-line-clamp: 4;
                    font-size: 18px;
                }
            }
        }
    }

    &-inner {
        width: 100%;
        height: 100%;
    }

   
    &-img {
        width: 100%;
        height: 150px;
        border-bottom: 2px solid $dark-blue;
        margin-bottom: 10px;

        @media(min-width: $lg) {
            height: 100px;
        }

        img {
            width: 100%;
            height: 100%;
            object-fit: cover;
        }
    }

    p {
        font-family: $ff;
        font-weight: $fw-regular;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
        overflow: hidden;
        height: 60px;
        font-size: 14px;
        color: $dark-blue;
        padding: 0 10px;
        margin-bottom: 10px;

        @media(min-width: $md) {
            height: 66px;
        }

        @media(min-width: $lg) {
            height: 47px;
            -webkit-line-clamp: 3;
            font-size: 14px;
            line-height: 1.1;
        }
    }

    a {
        font-family: $ff;
        font-weight: $fw-regular;
        font-size: 14px;
        color: $dark-blue;
        width: 100%;
        display: flex;
        justify-content: center;
        padding: 10px 0;
        border-top: 2px solid $dark-blue;
        transition: color ease $tr, background-color ease $tr;

        &:hover {
            background-color: $dark-blue;
            color: $white;
        }

        @media(min-width: $md) {
            font-size: 14px;
        }
    }
}

